version: '1.0.{build}'
image: Visual Studio 2019
configuration: Release
platform:
    - x64
branches:
  only:
    - master

environment:
    qt: 5.14
    msvc: msvc2017
    vs: C:\"Program Files (x86)"\"Microsoft Visual Studio"\2019\Community\VC\Auxiliary\Build
    QTDIR: C:\Qt\5.14.2\msvc2017_64
    ProjectName: GenshinImpact_AutoMap
    ProJectExeName: TianLi_Map
    MyProjectDir: C:\projects\GenshinImpact_AutoMap
    OpenCvDir: C:\projects\opencv\
    OpenCvUrl: https://github.com/GengGode/opencv450Release/releases/download/v1.0/Release.zip
skip_tags: true

install:
    - ps: $env:TIME_STRING=(get-date -UFormat "%Y%m%d%a").ToString()

    # download opencv:
    - mkdir %OpenCvDir%
    #- dir %OpenCvDir%
    - appveyor DownloadFile %OpenCvUrl%
    - 7z x ./*.zip -y -o%OpenCvDir%
    - rm -f ./*.zip
    
before_build: 
    - set PATH=%PATH%;%OpencvDir%\include;%OpencvDir%\include;%OpencvDir%\x64\vc15\staticlib;
    - set PATH=%PATH%;%QTDIR%\bin;
    - call %QTDIR%\bin\qtenv2.bat
    - call %vs%\vcvars64.bat x64
    
build_script:
    #- MSBuild %MyProjectDir%TianLiInstallationPackage\TianLiInstallationPackage.vcxproj

    - cd %MyProjectDir%\%ProjectName%
    - qmake
    - nmake
    
after_build:
    # copy include and source code files
    - mkdir %MyProjectDir%\x64\build\
    - cd %MyProjectDir%\x64\Release\
    - chcp.com 65001 && ls && ren *.exe TianLi_Map.exe && ls && chcp.com
    - chcp.com
    - chcp.com 65001 && copy %MyProjectDir%\x64\Release\TianLi_Map.exe %MyProjectDir%\x64\build\ && chcp.com
    
    - cd %MyProjectDir%\x64\build\
    - chcp.com 65001 && windeployqt TianLi_Map.exe && chcp.com

    - echo %APPVEYOR_BUILD_VERSION% >version.tag
    - 7z a %ProJectExeName%.7z %MyProjectDir%\x64\build\*
    
    - appveyor PushArtifact version.tag
    - appveyor PushArtifact %ProJectExeName%.7z
    
deploy:
    - provider: GitHub
      description: '$(APPVEYOR_PROJECT_SLUG): $(ProJectExeName) $(APPVEYOR_BUILD_VERSION)' 
      auth_token:
         secure: G/Fzf0bGIhqqt+XvsC5AXrZVNs3atGU7XCzJxqiUZEwOxoZrjxk87ENI/OitnXCo
      draft: false
      tag: $(APPVEYOR_BUILD_VERSION)
      force_update: true
      on:  
        APPVEYOR_REPO_TAG: false

notifications:
  - provider: Email
    to:
      - ysx20201030@163.com
    subject: '{{status}}: {{projectName}} {{buildVersion}}'                  # optional
    message: "Commit #{{commitId}} by {{commitAuthor}} on {{commitDate}}: {{commitMessage}}"    # optional
    on_build_success: true
    on_build_failure: false
    on_build_status_changed: false

